# Certs
CERT_LOCATION=/etc/nginx/certs/_.intellisoftkenya.com.pem
KEY_LOCATION=/etc/nginx/certs/star.intellisoftkenya.com.key


# OPENHIM <> KEYCLOAK CONFIG
KC_CLIENT_ID=openhim-oauth
KC_CLIENT_SECRET=


mongo_url=mongodb://mongo/openhim
mongo_atnaUrl=mongodb://mongo/openhim
authentication_enableJWTAuthentication=true
api_openid_url=https://chanjokeiam.intellisoftkenya.com/admin/realms/master
api_openid_callbackUrl=https://chanjoke.intellisoftkenya.com
api_openid_clientId=${KC_CLIENT_ID}
api_openid_clientSecret=${KC_CLIENT_SECRET}
api_openid_scope="openid email profile offline_access roles"